<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">

<!-- Application context definition -->

<beans>

	<bean id="flowRegistry1" class="org.springframework.webflow.registry.FlowRegistryFactoryBean">
		<property name="flowRegistrar">
			<bean class="org.springframework.webflow.registry.FlowRegistryPopulationTests$MyFlowRegistrar"/>
		</property>
	</bean>

	<bean id="flowRegistry2" class="org.springframework.webflow.registry.XmlFlowRegistryFactoryBean">
		<property name="flowLocations">
			<list>
				<value>classpath:org/springframework/webflow/registry/flow1.xml</value>
				<value>classpath:org/springframework/webflow/registry/flow2.xml</value>
			</list>
		</property>
		<property name="flowDirectoryLocations">
			<list>
				<value>classpath:org/springframework/webflow/registry/flows</value>
			</list>
		</property>
		<property name="flowDefinitions">
			<list>
				<bean class="org.springframework.webflow.registry.ExternalizedFlowDefinition">
					<constructor-arg value="flow3"/>
					<constructor-arg value="classpath:org/springframework/webflow/registry/flow1.xml"/>
				</bean>
				<bean class="org.springframework.webflow.registry.ExternalizedFlowDefinition">
					<constructor-arg value="flow4"/>
					<constructor-arg value="classpath:org/springframework/webflow/registry/flow2.xml"/>
					<constructor-arg>
						<map>
							<entry key="testPropertyName" value="testPropertyValue"/>
						</map>
					</constructor-arg>
				</bean>
			</list>
		</property>
	</bean>
	
</beans>