# -----------------------------------------------------------------------------
# build.properties
# 
# Use this file to ajust the build of the Cactus EJB Sample to your local
# environment. Specifically, you will want to define the installation
# directory of any container you want to test against in this file, or the
# port on which the containers will be started.
# 
# $Id$
# -----------------------------------------------------------------------------

# WARNING:  The relative paths below are relative to the directory where the
# build.xml file is located.

# -----------------------------------------------------------------------------
# Mandatory properties
# -----------------------------------------------------------------------------


# -----------------------------------------------------------------------------
# Optional properties
# -----------------------------------------------------------------------------

