<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!--
		Custom configuration of the HTTP request flow execution manager.
		Note how you can just change the flow execution storage strategy without any impact
		on the views!
		
		This is actually not being used from JSF!
	-->	
	<bean id="flowExecutionManager" class="org.springframework.webflow.execution.servlet.ServletFlowExecutionManager">
		<property name="listener">
			<bean class="org.springframework.webflow.samples.sellitem.SellItemFlowExecutionListener"/>
		</property>
		<property name="storage">
			<bean class="org.springframework.webflow.execution.DataStoreFlowExecutionStorage">
				<constructor-arg>
					<bean class="org.springframework.webflow.execution.SessionDataStoreAccessor"/>
				</constructor-arg>
			</bean>
		</property>
		<!-- 
		<property name="storage">
			<bean class="org.springframework.webflow.execution.servlet.HttpSessionFlowExecutionStorage"/>
		</property>
		-->
		<!-- 
		<property name="storage">
			<bean class="org.springframework.webflow.execution.ClientContinuationFlowExecutionStorage">
				<property name="compress" value="true"/>
			</bean>
		</property>
		-->
	</bean>
	
	<bean id="sellItem" class="org.springframework.webflow.config.XmlFlowFactoryBean">
		<property name="location" value="/WEB-INF/sellItem-flow.xml"/>
	</bean>
	
	<bean id="sellItemAction" class="org.springframework.webflow.samples.sellitem.SellItemAction">
	</bean>

	<bean id="statisticsService" class="org.springframework.webflow.execution.jmx.StatisticsService">
		<constructor-arg ref="flowExecutionManager"/>
		<property name="enabled" value="true"/>
	</bean>
	
	<bean name="sale" class="org.springframework.webflow.samples.sellitem.Sale" singleton="false">
	</bean>
	
</beans>
