<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">

<!-- Application context definition -->

<beans>

	<!-- Launches new flow executions in a JSF environment. -->	
	<bean id="flowExecutionManager" class="org.springframework.webflow.jsf.JsfFlowExecutionManager">
		<constructor-arg ref="flowLocator"/>
		<property name="listener">
			<bean class="org.springframework.webflow.samples.sellitem.SellItemFlowExecutionListener"/>
		</property>
		<property name="storage">
			<bean class="org.springframework.webflow.execution.DataStoreFlowExecutionStorage"/>
		</property>
	</bean>
	
	<!-- Creates the registry of flow definitions for this application -->
	<bean name="flowLocator" class="org.springframework.webflow.registry.XmlFlowRegistryFactoryBean">
		<property name="flowLocations" value="/WEB-INF/sellitem.xml"/>
	</bean>
	
	<!-- "Sale" managed bean created by JSF for each 'sellitem' flow execution -->
	<bean name="sale" class="org.springframework.webflow.samples.sellitem.Sale" singleton="false"/>
	
	<bean id="sellItemAction" class="org.springframework.webflow.action.FormAction">
		<property name="formObjectName" value="sale"/>
		<property name="formObjectClass" value="org.springframework.webflow.samples.sellitem.Sale"/>
		<property name="formObjectScopeAsString" value="flow"/>
		<property name="validator">
			<bean class="org.springframework.webflow.samples.sellitem.SaleValidator"/>
		</property>
		<property name="requireValidatorMethod" value="true"/>
	</bean>
	
</beans>