<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!--
		Launches new flow executions in a JSF environment.
	-->	
	<bean id="flowExecutionManager" class="org.springframework.webflow.jsf.JsfFlowExecutionManager">
		<constructor-arg ref="flowLocator"/>
		<property name="listener">
			<bean class="org.springframework.webflow.samples.sellitem.SellItemFlowExecutionListener"/>
		</property>
		<property name="storage">
			<bean class="org.springframework.webflow.execution.ContinuationDataStoreFlowExecutionStorage"/>
		</property>
		<property name="transactionSynchronizer">
			<bean class="org.springframework.webflow.execution.DataStoreTokenTransactionSynchronizer"/>
		</property>
	</bean>
	
	<!-- Creates the registry of flow definitions for this application -->
	<bean name="flowLocator" class="org.springframework.webflow.config.registry.XmlFlowRegistryFactoryBean">
		<property name="definitionLocations" value="/WEB-INF/sellItem-flow.xml"/>
	</bean>

	<!-- "Sale" managed bean created by JSF for each 'sellitem' flow execution -->
	<bean name="sale" class="org.springframework.webflow.samples.sellitem.Sale" singleton="false"/>
	
</beans>
